/* Genereal */
body{
    margin: 0;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

hr {
    border: 0.1rem solid;
    border-color: #0E8388;
    border-radius: 50%;
}

p{
    font-weight: 500;
    line-height: 2rem;
    font-size: large;
}

h3{
    font-weight: 300;
}

.colored-section{
    color: whitesmoke;
}

.section-title{
    text-align: left;
    margin-left: 1.5rem;
}

/* navbar */
.navbar{
    padding: 2rem 1rem;
}

.nav-item{
    padding: 0 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.container-fluid{
    padding: 0 5% 0;
}

/* title */
#title{
    background-image: linear-gradient(to bottom, #2C3333, #2E4F4F);
    padding-bottom: 5rem;
}

.nome{
    margin: 2rem auto 2rem auto;
    font-family: 'Sacramento', cursive;
    font-weight: 900;
    font-size: 5rem;
    color: azure;
}

.nome:hover{
    text-shadow: 0.125rem 0 rgb(0, 247, 255);
}

#title img{
    border-radius: 50%;
    margin: 2rem;
}

/* education */
#education{
    text-align: left;
    padding: 0 7%;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

#education img{
    border-radius: 50%;
    width: 80%;
    margin-left: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.bronze{
    margin-left: 2rem;
    margin-bottom: 1rem;
    color: #cd7f32;
}

.silver{
    margin-left: 2rem;
    margin-bottom: 1rem;
    color: #aaa9ad;
}

.year{
    text-align: right;
}

/* skills */
#skills{
    padding: 5rem ;
    background-image: linear-gradient(to bottom,#2E4F4F, #0E8388);
}

#skills img{
    border-radius: 50%;
    width: 20%;
    margin-top: 2rem;
}

.skill-text{
    margin-top: 3rem;
    padding: 0 30%;
}

/* hobbies */
#hobbies{
    padding: 5rem ;
}

#hobbies hr{
    width: 80%;
    margin: 0 auto;
}

.chess{
    text-align: left;
}

#hobbies .row{
    margin: 6rem 5rem;
}

#hobbies img{
    width: 50%;
    background-color: #0E8388;
    border-radius: 50%;
    padding: 7%;
    overflow: visible;
}

#hobbies img:hover{
    padding: 4%;
    background-image: linear-gradient(to bottom,#0E8388, #CBE4DE);
}

.climbing{
    text-align: right;
}

#hobbies .row{
    margin-top: 5rem;
}

@media (max-width: 1000px){
    .chess-img{
       margin-top: 3rem;
    }

    .climbing-img{
        margin-bottom: 3rem;
    }
}

/* info */
#info{
    background-image: linear-gradient(to bottom, #2E4F4F, #0E8388);
    margin: 0;
    height: 9rem;
    padding-top: 3rem;
}

.marca{
    color: whitesmoke;
    margin-top: 30px;
    font-size: 70%;
    font-weight: 300;
}

.info-link{
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    text-decoration: none;
    font-weight: 400;
    color: whitesmoke;
}

.info-link:hover{
    color: white;
}
